<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.ElectiveMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.Elective" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="sick_leave" property="sick_leave" jdbcType="INTEGER" />
    <result column="think_leave" property="think_leave" jdbcType="INTEGER" />
    <result column="late" property="late" jdbcType="INTEGER" />
    <result column="absenteeism" property="absenteeism" jdbcType="INTEGER" />
    <result column="ordinary_grade" property="ordinary_grade" jdbcType="FLOAT" />
    <result column="final_exam_garde" property="final_exam_garde" jdbcType="FLOAT" />
    <result column="final_grade" property="final_grade" jdbcType="FLOAT" />
    <result column="normal_proportion" property="normal_proportion" jdbcType="VARCHAR" />
    <result column="final_exam_proportion" property="final_exam_proportion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, course_id, flag,sick_leave,think_leave,late,absenteeism,ordinary_grade,final_exam_garde,normal_proportion,final_exam_proportion
  </sql>
  <select id="selectByUserId" parameterType="hashmap" resultMap="BaseResultMap">
  SELECT  e.*
  FROM  elective e
  WHERE  e.flag=0 and e.user_id=#{user_id,jdbcType=INTEGER} and e.course_id=#{course_id,jdbcType=VARCHAR}
</select>
  <select id="getAllElectiveByUserId" parameterType="hashmap" resultType="java.util.HashMap">
  SELECT  e.*,c.*,c.id as cid ,u.user_name
  FROM  course c  LEFT JOIN elective e on c.id =e.course_id LEFT JOIN userinfo u on c.teacher_id=u.id and u.mark=2
  WHERE  e.flag=0 and e.user_id=#{user_id,jdbcType=INTEGER}
    <if test="mark==1 and keyWord != null and keyWord !='' ">
      and  c.name LIKE '%'+#{keyWord}+'%'
    </if>
    <if test="mark==2 and keyWord != null and keyWord !='' ">
      and  c.code LIKE '%'+#{keyWord}+'%'
    </if>
    <if test="mark==3 and keyWord != null and keyWord !='' ">
      and  u.user_name LIKE '%'+#{keyWord}+'%'
    </if>
</select>

  <select id="getAllElectiveByUserId"  parameterType="hashmap" resultType="java.util.HashMap">
    select e.*
    from elective e
    where e.flag=0 and e.user_id=#{user_id,jdbcType=INTEGER}
  </select>
  <select id="getAllCourseForStudentFromElective" parameterType="hashmap"  resultType="java.util.HashMap">
    SELECT c.*,e.*,u.user_name,e.id as eid
    FROM   course c LEFT  JOIN elective e on c.id=e.course_id LEFT  JOIN userinfo u on c.teacher_id=u.id and u.mark=2
    where e.flag=0 and e.user_id= #{user_id,jdbcType=INTEGER}
    <if test="mark==1 and keyWord!=null and keyWord!=''">
      and c.name LIKE '%'+#{keyWord}+'%'
    </if>
    <if test="mark==2 and keyWord!=null and keyWord!=''">
      and c.code LIKE '%'+#{keyWord}+'%'
    </if>
    <if test="mark==3 and keyWord!=null and keyWord!=''">
      and u.user_name LIKE '%'+#{keyWord}+'%'
    </if>
  </select>
  <select id="getAllStudentByCourseId" parameterType="hashmap" resultType="java.util.HashMap">
    select e.*,u.*,u.id as uid,c.*,c.id as cid
    from elective e LEFT  JOIN userinfo u on e.user_id=u.id LEFT  JOIN course c on e.course_id=c.id
    WHERE e.flag=0 and e.course_id=#{course_id,jdbcType=VARCHAR}
    <if test="user_name !=null and user_name !=''">
      and u.user_name LIKE '%'+#{user_name}+'%'
    </if>
  </select>
  <select id="getAllStudentByCourseIdForClass" parameterType="hashmap" resultType="java.util.HashMap">
    select e.*,u.*,u.id as uid
    from elective e LEFT  JOIN userinfo u on e.user_id=u.id
    WHERE e.flag=0 and e.course_id=#{course_id,jdbcType=VARCHAR}
  </select>
</mapper>