
<script type="text/ng-template" id="importStudentForm.html">
    <form name="submit_form" novalidate ng-submit="submitForm()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">

            <!--<div class="row" style="margin-top: auto">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">课程名称</label>
                        <input type="text" required readonly name="className" ng-model="className"
                               class="form-control"  >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">所属学院</label>
                        <input type="text" required readonly name="college" ng-model="college"
                               class="form-control"  >
                        </select>
                    </div>

                </div>
            </div>-->

            <div class="table-responsive" style="    overflow-y: auto;max-height: 500px;">
                <table class="table  table-bordered table-striped" id="drivergrid">
                    <thead>
                    <tr >
                        <th >
                            <input type="checkbox" ng-model="select_all" ng-click="selectAll()" ><i></i>
                            <span ng-hide="select_all" style="white-space: nowrap;">全选</span>
                            <span ng-show="select_all" style="white-space: nowrap;">取消全选</span>
                        </th>
                        <th >学生姓名</th>
                        <th >所在学校</th>
                        <th >所在学院</th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">
                    <tr ng-repeat="row in root">
                        <td >
                            <input type="checkbox" class="cbr" ng-model="row.checked"  ng-change="selectOne()" >
                        </td>
                        <td>{{row.name}}</td>
                        <td>{{row.school_name}}</td>
                        <td>{{row.college_name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="提交" name="save" ng-disabled="submit_form.$invalid"/>
            <span class="btn btn-warning" ng-click="cancel()">取消</span>

        </div>
    </form>
</script>

