<!-- Removing search and results count filter -->

<div class="panel ">
    <div class="panel-heading">
        <h3 class="panel-title">授课安排</h3>
    </div>
    <div class="panel-body ">
        <script type="text/javascript">
            jQuery(document).ready(function ($) {

                // Replace checkboxes when they appear
                var $state = $("#companygrid thead input[type='checkbox']");

                $("#companygrid").on('draw.dt', function () {
                    cbr_replace();
                    $state.trigger('change');
                });

                // Script to select all checkboxes
                $state.on('change', function (ev) {
                    var $chcks = $("#companygrid tbody input[type='checkbox']");

                    if ($state.is(':checked')) {
                        $chcks.prop('checked', true).trigger('change');
                    }
                    else {
                        $chcks.prop('checked', false).trigger('change');
                    }
                });
            });
        </script>

        <div class="btn-toolbar">
            <div class="btn-group focus-btn-group" style="margin-top:-5px">
                <div  class="form-inline">
                    <label class="control-label">开课单位：</label>
                    <div class="form-group">
                      <select ng-model="college" class="form-control" ng-options="college.id as college.college_name for college in colleges" ng-change="queryList()"></select>
                    </div>
                    <label class="control-label">分类查询：</label>
                    <div class="form-group">
                        <select ng-model="mark" class="form-control" ng-options="mark.id as mark.name for mark in marks"></select>
                    </div>
                    <label class="control-label">关键字：</label>
                    <div class="form-group">
                        <input type="text" ng-model="keyWord" class="form-control" size="25" placeholder="关键字" />
                    </div>
                    <div class="form-group">
                        <button class="mb-xs mt-xs mr-xs btn btn-primary" ng-click="queryList()">查询</button>
                    </div>
                    <div class="form-group">
                        <button class="mb-xs mt-xs mr-xs btn btn-danger" ng-click="reset()">重置</button>
                    </div>
                    <div class="form-group">
                        <button class="mb-xs mt-xs mr-xs btn btn-info" ng-click="addCourse()">新增课程</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  table-bordered table-striped" id="drivergrid">
                <thead>
                <tr >
                    <th >课程编号</th>
                    <th >课程名称</th>
                    <th >总学时</th>
                    <th >开课单位</th>
                    <th >用户操作</th>
                </tr>
                </thead>

                <tbody class="middle-align">
                <tr ng-repeat="row in root.data">
                    <td>{{row.code}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.class_hour}}</td>
                    <td>{{row.college_name}}</td>
                    <td style="white-space: nowrap;width: 300px">
                        <a href="" class="btn btn-sm btn-icon icon-left" ng-click="Arrangement(row)" ng-if="college==user.college_id">
                            授课安排
                        </a>
                        <a href="" class="btn btn-sm btn-icon icon-left" ng-if="college!=user.college_id">
                            不属于该学院
                        </a> <a href="" class="btn btn-sm btn-icon icon-left"   ng-click="viewTeachManage(row)" ng-if="row.user_id">
                          查看授课安排
                        </a>
                         <a href="" class="btn btn-sm btn-icon icon-left"   ng-click="importStudent(row)" ng-if="row.user_id">
                          添加学生
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="root.data.length>0" ng-include="'views/common/pagination.html'"></div>
    </div>
</div>
</div>
<div ng-include=" 'views/TeacherManage/teachingArrangeForm.html'"></div>
<div ng-include=" 'views/TeacherManage/viewTeachArrangeForm.html'"></div>
<div ng-include=" 'views/courseManage/courseForm.html'"></div>
<div ng-include=" 'views/TeacherManage/importStudentForm.html'"></div>
