<style >
    .setParamstersInput{
        width: 20%;
        text-align: center;
    }
    .row{
        margin: auto auto 5px 0px;
    }
</style>
<script type="text/ng-template" id="teachingArrangeForm.html">
    <form name="submit_form" novalidate ng-submit="submitForm()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">

            <div class="row" style="margin-top: auto">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">课程名称</label>
                        <input type="text" required readonly name="className" ng-model="className"
                               class="form-control"  >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">所属学院</label>
                        <input type="text" required readonly name="college" ng-model="college"
                               class="form-control"  >
                        </select>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: auto">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">课程负责人</label>
                        <input type="text" required readonly name="userName" ng-model="userName"
                               class="form-control"  >
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: auto">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">开始周</label>
                        <input type="number" required  name="start_time" ng-model="start_time"
                               class="form-control"  >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">结束周</label>
                        <input type="number" required  name="end_time" ng-model="end_time"
                               class="form-control"  >
                        </select>
                    </div>

                </div>
            </div>
            <div style="margin-left: 17px;"><label class="control-label">上课时间</label> <i class="glyphicon glyphicon-plus " ng-click="addClassTime($index)"></i></div>
            <div class="row" style="margin-top: auto" ng-repeat="class in Classes">
                <div class="col-sm-6">
                    <div class="form-group">
                       <select ng-model="class.week" required ng-options="week.id as week.name for week in Weeks" class="form-control" style="width: 100%" ng-blur="getAllClassRoom()"></select>

                    </div>
                    </div>
                    <div class="col-sm-3">
                    <div class="form-group">
                        <input type="number" ng-model="class.class_time_start" required class="form-control" style="width: 90%" />
                    </div>

                </div>
                <span>-</span>
                <div class="col-sm-3">
                    <div class="form-group" style="    margin-top: -22px">
                        <input type="number" ng-model="class.class_time_end" required class="form-control"  style="width: 90%" ng-blur="getAllClassRoom()" />
                        <i class="glyphicon glyphicon-remove " ng-click="delClassTime($index)" style="float: right;margin-top: -27px;" ng-show="class.isDel" ></i>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: auto">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">上课地点</label>
                        <select required select2 class="form-control" ng-model="class_place" ng-options="classroom.class_id as classroom.class_name for classroom in ClassRoom" ></select>
                    </div>
                </div>
            </div>



        </div>


        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="提交" name="save" ng-disabled="submit_form.$invalid"/>

            <span class="btn btn-warning" ng-click="cancel()">取消</span>

        </div>
    </form>
</script>

