<!-- Removing search and results count filter -->

<div class="panel ">
    <div class="panel-heading">
        <h3 class="panel-title">生成期末成绩</h3>
    </div>
    <div class="panel-body ">
        <script type="text/javascript">
            jQuery(document).ready(function ($) {

                // Replace checkboxes when they appear
                var $state = $("#companygrid thead input[type='checkbox']");

                $("#companygrid").on('draw.dt', function () {
                    cbr_replace();
                    $state.trigger('change');
                });

                // Script to select all checkboxes
                $state.on('change', function (ev) {
                    var $chcks = $("#companygrid tbody input[type='checkbox']");

                    if ($state.is(':checked')) {
                        $chcks.prop('checked', true).trigger('change');
                    }
                    else {
                        $chcks.prop('checked', false).trigger('change');
                    }
                });
            });
            $('#username').bind('input propertychange', function() {
               alter("hhaha");
            });

        </script>

        <div class="btn-toolbar">
            <div class="btn-group focus-btn-group" style="margin-top:-5px">
                <div  class="form-inline">
                    <label class="control-label">班级查询：</label>
                    <div class="form-group">
                        <select ng-model="course_id" class="form-control" ng-options="course.id as course.name for course in Class" ng-change="queryList()"></select>
                    </div>
                    <label class="control-label">关键字：</label>
                    <div class="form-group">
                        <input type="text" ng-model="user_name" class="form-control" size="25" placeholder="关键字" />
                    </div>
                    <div class="form-group">
                        <button class="mb-xs mt-xs mr-xs btn btn-primary" ng-click="queryList()">查询</button>
                    </div>
                    <div class="form-group">
                        <button class="mb-xs mt-xs mr-xs btn btn-danger" ng-click="reset()">重置</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  table-bordered table-striped" id="drivergrid">
                <thead>
                <tr >
                    <th >序号</th>
                    <th >课程编号</th>
                    <th >课程名称</th>
                    <th >学生姓名</th>
                    <th style="width: 10%" >平时成绩</th>
                    <th  style="width: 13%">平时成绩比例 &nbsp
                        <input type="number"  style="width: 60px;text-align:center" ng-model="normal_proportion"/> &nbsp %
                    </th>
                    <th style="width: 10%">期末成绩</th>
                    <th style="width: 10%">期末成绩比例</th>
                    <th style="width: 10%">
                       最终成绩
                        <a class="btn btn btn-sm btn-icon icon-left" ng-click="save()">保存</a>
                    </th>
                </tr>
                </thead>

                <tbody class="middle-align">
                <tr ng-repeat="row in root.data">

                    <td>{{$index}}</td>
                    <td>{{row.code}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.user_name}}</td>
                    <td ><input type="text"  class="form-control" ng-model="row.ordinary_grade" ng-change="GeneratingFinalResults(row,row.ordinary_grade,row.final_exam_garde,row.final_grade)"/></td>
                    <td >
                       {{normal_proportion}}

                    <td> <input type="text"  class="form-control" ng-model="row.final_exam_garde"  ng-change="GeneratingFinalResults(row,row.ordinary_grade,row.final_exam_garde,row.final_grade)" /></td>
                    <td >{{100-normal_proportion}}</td>
                    <td >
                        {{row.final_grade}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="root.data.length>0" ng-include="'views/common/pagination.html'"></div>
    </div>
</div>
</div>
<div ng-include=" 'views/userInfoManger/userForm.html'"></div>
