<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">数据字典</h3>
    </div>
    <div class="panel-body">
        <table border="1">
            <tr>
                <th width="200">
                    <span style="font-size: medium" >角色</span>
                    <a href="javascript:;" ng-click="addRole()" auto-title title="添加角色">
                        <i class="glyphicon glyphicon-plus" ></i>
                    </a>

                </th>
                <th>
                    <table width="200" border="1">
                        <tr ng-repeat="i in role"><th>{{i.name}}   &nbsp;&nbsp;
                            <a href="javascript:;"  ng-click="editRow(i)" auto-title title="编辑">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="javascript:;"  ng-click="delRow(i.id)" auto-title title="删除">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a></th></tr>
                    </table>
                </th>
            </tr>
        </table>
        <div ng-show="root.data.length>0" ng-include="'views/common/pagination.html'"></div>
    </div>
</div>
<div ng-include="'views/powerManage/powerForm.html'"></div>
<!--<div ng-include="'views/enterprisePerson/userManage/cuserImport.html'"></div>-->
