<ul class="nav nav-main">
    <li class="nav-active">
        <a href="#index">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>主页面</span>
        </a>
    </li>
    <li>
        <a href="#courseManage">
            <span class="pull-right label label-primary">182</span>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>课程管理</span>
        </a>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>系统管理</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="#managerUserInfo">
                    用户管理
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#SetParameters">
                    考勤参数
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#ClassRoom">
                    教室管理
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>学校管理</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="#managerSchool">
                    学校管理
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#managerCollege">
                    学院管理
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#managerMajor">
                    专业管理
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>学生管理</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="#manageGrade">
                    课程信息
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#manageElective">
                    选课结果
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#scheduleQuery">
                    课表查询
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>老师管理</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="#manageClass">
                    班级管理
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#teachingArrangements">
                    授课安排
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#ClassName">
                    课堂点名
                </a>
            </li>
        </ul>
        <ul class="nav nav-children">
            <li>
                <a href="#termGrade">
                    期末成绩
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span>Forms</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="forms-basic.html">
                    Basic
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-table" aria-hidden="true"></i>
            <span>Tables</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="tables-basic.html">
                    Basic
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Maps</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="maps-google-maps.html">
                    Basic
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-columns" aria-hidden="true"></i>
            <span>Layouts</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="layouts-default.html">
                    Default
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-asterisk" aria-hidden="true"></i>
            <span>Extra</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="extra-changelog.html">
                    Changelog
                </a>
            </li>
            <li>
                <a href="extra-ajax-made-easy.html">
                    Ajax Made Easy
                </a>
            </li>
        </ul>
    </li>
</ul>


<!-- Theme Base, Components and Settings -->
<script src="../common/assets/javascripts/theme.js"></script>
<!-- Theme Custom -->
<script src="../common/assets/javascripts/theme.custom.js"></script>
<!-- Theme Initialization Files -->
<script src="../common/assets/javascripts/theme.init.js"></script>


