<!-- start: header -->
<header class="header">
    <div class="logo-container">

        <p class="logo">
            菜鸡联盟考勤系统
        </p>
       <!-- <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>菜鸡联盟考勤系统
        </div>-->
    </div>

    <!-- start: search & user box -->
    <div class="header-right">



        <span class="separator"></span>


        <span class="separator"></span>
        <span ng-if="cname!=null">所属学校：{{sname}}   &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      所属学院：{{cname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">

                <figure class="profile-picture">
                    <img ng-src="{{userInfo.imageUrl}}" style="width: 30px; height: 30px;" readonly data-lock-picture="assets/images/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                    <span class="name">用户名：{{userInfo.userName}}</span>
                    <span class="role">用户角色：{{roleName}}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                   <!-- <li>
                        <a role="menuitem" tabindex="-1" href="#accountManage"><i class="fa fa-user"></i> 账号管理</a>
                    </li>-->
                  <!--  <li>
                        <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
                    </li>-->
                    <li>
                        <a role="menuitem" tabindex="-1" href="#loginout"><i class="fa fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->