<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.purviewTypeMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.purviewType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purview_name" property="purviewName" jdbcType="VARCHAR" />
    <result column="purview_code" property="purviewCode" jdbcType="VARCHAR" />
    <result column="parent_purview_code" property="parentPurviewCode" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purview_name, purview_code, parent_purview_code, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purview_type1111111111111
       where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purview_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fzu.edu.model.purviewType" >
    insert into purview_type (id, purview_name, purview_code, 
      parent_purview_code, flag)
    values (#{id,jdbcType=INTEGER}, #{purviewName,jdbcType=VARCHAR}, #{purviewCode,jdbcType=VARCHAR}, 
      #{parentPurviewCode,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fzu.edu.model.purviewType" >
    insert into purview_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purviewName != null" >
        purview_name,
      </if>
      <if test="purviewCode != null" >
        purview_code,
      </if>
      <if test="parentPurviewCode != null" >
        parent_purview_code,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purviewName != null" >
        #{purviewName,jdbcType=VARCHAR},
      </if>
      <if test="purviewCode != null" >
        #{purviewCode,jdbcType=VARCHAR},
      </if>
      <if test="parentPurviewCode != null" >
        #{parentPurviewCode,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzu.edu.model.purviewType" >
    update purview_type
    <set >
      <if test="purviewName != null" >
        purview_name = #{purviewName,jdbcType=VARCHAR},
      </if>
      <if test="purviewCode != null" >
        purview_code = #{purviewCode,jdbcType=VARCHAR},
      </if>
      <if test="parentPurviewCode != null" >
        parent_purview_code = #{parentPurviewCode,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzu.edu.model.purviewType" >
    update purview_type
    set purview_name = #{purviewName,jdbcType=VARCHAR},
      purview_code = #{purviewCode,jdbcType=VARCHAR},
      parent_purview_code = #{parentPurviewCode,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>