<script type="text/ng-template" id="userForm.html">
    <form name="submit_form" novalidate ng-submit="submitForm()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">用户名</label>
                        <input type="text" required name="username" ng-model="username"
                               class="form-control"  placeholder="用户名" unique_verify="/web-logistics/user/userNameUnique">
                    </div>
                    <div ng-messages="submit_form.username.$error" ng-show="submit_form.username.$touched || submit_form.$submitted">
                        <span class="ng-message" ng-message="required">请输入用户名</span>
                        <span class="ng-message" ng-message="uniqueVerify">用户名已存在</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">用户角色</label>
                        <select   class="form-control" ng-model="mark" ng-options="mark.id as mark.name for mark in Marks" >
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <div class="form-group">
                        <label class="control-label" >头像上传:</label>
                        <label class="cbr-inline">
                            <input type="file" ngf-select ng-model="file" name="file"  onchange="angular.element(this).scope().img_upload(this.files)" style="width: 210px"/>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <img ng-src="{{path}}" style="width: 270px; height: 270px;" readonly/>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="提交" name="save" ng-disabled="submit_form.$invalid"/>

            <span class="btn btn-warning" ng-click="cancel()">取消</span>

        </div>
    </form>
</script>

