<script type="text/ng-template" id="powerForm.html" >
    <form name="submit_form" ng-submit="submitForm()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="name">角色名</label>
                        <label class="cbr-inline">
                            <input type="text"  class="form-control" id="name" name="name" placeholder="角色名"  ng-model="name" required>
                        </label>
                        <div ng-messages="submit_form.name.$error" ng-show="submit_form.name.$touched || submit_form.$submitted">
                            <span class="ng-message" ng-message="required">请输入角色名</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="remarks">备注</label>
                            <label class="cbr-inline">
                                <input type="text"  class="form-control" id="remarks" name="remarks" placeholder="备注"  ng-model="remarks">
                            </label>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style=" width:500px; margin: 0 auto;">

                    <div style="height:300px;overflow:auto; ">
                        <a   class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right" style="width: 230px; background-color: 	#B2DFEE" >
                            <span>菜单树</span>
                        </a>

                        <div class="panel  panel-default" style="padding: 0 !important; min-width: 260px;overflow: auto;white-space: nowrap;">
                            <div id="dwselect">
                                <div class="dwselect_c">
                                    <tree-view-leaf
                                            tree-data="treeData"
                                            itemTemplateUrl="itemTemplateUrl"
                                            item-clicked="itemClicked($item)"
                                            item-checked-changed="itemCheckedChanged($item)"
                                            can-checked="true">
                                    </tree-view-leaf>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="MenuName">您已选中</label>
                        <label class="cbr-inline">
                            <input type="text"  class="form-control" id="MenuName" name="MenuName" placeholder="您选中的菜单" disabled  ng-model="MenuName" style="width: 500px;height: 100px">
                        </label>
                    </div>
                </div>
            </div>



        </div>



        <div class="modal-footer">
            <input class="btn btn-info" type="submit" value="提交" ng-disabled="submit_form.$invalid" />
            <span class="btn btn-primary" ng-click="cancel()">取消</span>
        </div>

    </form>
</script>