/*遮罩层css*/

.fakeloader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.4);
    z-index: 9999;
	text-align:center;
}

.load_visible{
visibility: hidden;/*visible/hidden*/
}


.load_spinner2 {
  width: 40px;
  height: 40px;
  position: relative;
}


.load_container1 > div, .load_container2 > div, .load_container3 > div {
  width: 6px;
  height: 6px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.load_spinner2 .load_spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.load_container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.load_container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.load_circle1 { top: 0; left: 0; }
.load_circle2 { top: 0; right: 0; }
.load_circle3 { right: 0; bottom: 0; }
.load_circle4 { left: 0; bottom: 0; }

.load_container2 .load_circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.load_container3 .load_circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.load_container1 .load_circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.load_container2 .load_circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.load_container3 .load_circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.load_container1 .load_circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.load_container2 .load_circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.load_container3 .load_circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.load_container1 .load_circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.load_container2 .load_circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.load_container3 .load_circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

