.pagination{
    margin:0;
}
.lt-pagination{
    padding-right: 13px;

}
.pagination{
    float: right;
}

.pagemsg{
    line-height: 36px;
    height:36px;
    float: right;
}

/**表单验证样式**/
input.ng-invalid{
    border: 1px solid red;
}

input.ng-valid{
    border: 1px solid green;
}

.ng-message{
    color: red;
}